* {
  padding: 0;
  margin: 0;
}

body {
  /*background: url('../img/index.jpg') no-repeat;
  background-size: cover;*/
  background-color: #111;
  color: aliceblue;
}

.nav-bar {
  display: flex;
  width: 100%;
  background-color: #444;
  color: aliceblue;
  height: 55px;
  padding: 0;
  margin: 0;
  position: fixed;
  top: 0;
}

.nav-bar>div {
  flex: 1;
  /*grow*/
}

.left-nav {
  height: 100%;
  width: 30%;
}

.nav-bar .logo {
  height: 100%;
  display: flex;
  justify-content: center;
  /* align horizontal */
  align-items: center;
  /* align vertical */
  font-size: 25px;
  font-family: 'Courier New', Courier, monospace;
  letter-spacing: 3px;
  text-decoration: none;
  color: aliceblue;
}

.mid-nav {
  height: 100%;
  width: 70%;
}

.nav-bar .menu {
  height: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  /* align horizontal */
  align-items: center;
  /* align vertical */
}

.nav-bar li {
  float: left;
}

.nav-bar li a {
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  color: aliceblue;
  font-size: 18px;
  padding: 14px 16px;
  font-family: 'Courier New', Courier, monospace;
}

.nav-bar a:hover {
  background-color: #111;
}


/*  Nav bar end */

.pro_pic {
  margin-top: 7%;
  display: flex;
  justify-content: center;
  /* align horizontal */
  align-items: center;
}

.intro {
  margin-top: 2%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  text-align: center;
  font-size: 25px;
}

.details_about {
  margin-top: 2%;
  font-size: 16px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

/* Project part */

#project_id {
  width: 100%;
  margin-top: 30px;
  background-image: url('../img/project.jpg');
  background-color: #cccccc;
  height: 300px;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
}

#project_id .project1,
#project_id .project2 {
  display: inline-block;
  width: 50%;
  height: 80%;
  background-color: rgba(105, 105, 105, 0.4);
  align-items: center;
}

.project1,
.project2 {
  margin: 20px 50px;
  padding: 10px 40px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.project1 p,
.project2 p {
  display: flex;
  justify-content: center;
  /* align horizontal */
  align-items: center;
}

/*Footer */
footer {
  margin-top: 7%;
  width: 100%;
  background-color: #444;
  font-family: Arial, Helvetica, sans-serif;
}

footer .contact {
  padding-top: 2%;
  margin-left: 5%;
}

.contact p {
  padding: 3px 3px;
}

.copyright {
  text-align: center;
  padding-bottom: 8px;
}




@media screen and (max-width:750px) {
  .nav-bar {
    position: relative;
  }

  .mid-nav {
    display: none;
  }

  .left-nav {
    width: 100%;
  }
  #project_id{
    height: 200px;
  }
  .project1,
  .project2 {
    margin: 12px;
    padding: 0px;
  }

}