.bg-primary {
  background-color: var(--bg-primary) !important;
}

.bg-secondart {
  background-color: var(--bg-secondary) !important;
}

.color-primary {
  color: var(--color-primary) !important;
}

.color-secondary {
  color: var(--color-secondary) !important;
}

.color-hover:hover {
  color: var(--color-hover) !important;
}
