:root {
  --font-family: 'Space Mono', Roboto, sans-serif;
  --border-radius: 3px;
}

.dark-mode {
  --bg-primary: #2c2f33;
  --bg-secondary: #343a40;
  --color-primary: #ffffff;
  --color-secondary: #737373;
  --color-hover: #3366cc;
  --footer-bg: #26272b;
  --footer-txt: #737373
}

.light-mode {
  --bg-primary: #ffffff;
  --bg-secondary: #737373;
  --color-primary: #2c2f33;
  --color-secondary: #343a40;
  --color-hover: #3366cc;
}
